---
---

@import 'jekyll-theme-cayman';


// Site navigation
.site-nav {
  margin-top: 1.5rem;
}

.site-nav a {
  margin: 0 0.75rem;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.site-nav a:hover {
  text-decoration: underline;
}

// Project page
.page-projects img {
  max-width: 300px;
  height: auto;
  float: right;
  display: block;
  clear: right;
  margin: 0 0 15px 20px;
}

.projects-page h2 {
  margin-top: 60px;
  clear: both;
}